#header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 5px;
}

#logo img,
#logo p {
  display: inline-block;
}

#logo p{
  color: MediumAquamarine;
  position: relative;
  left: 10px;
  bottom: 25px;
}

#header-menu {
  position: relative;
  top: 10px;
}

#nav li {
  display: inline-block;
  margin-left: 20px;
}

#nav li a {
  color: black;
}

.main {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}

.column {
  display: flex;
  border: 1px solid black;
  flex-flow: column wrap;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
